<h1>mrk::wiki</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal width-large"}) do |f| %>
<%= f.input :email %>
<%= f.input :password %>
<% if devise_mapping.rememberable? -%>
<%= f.input :remember_me, label: false, as: :boolean, inline_label: "ログイン状態を保持する" %>
<% end -%>
<div class="form-actions">
    <%= f.button :submit, "Sign in", class: "btn-primary" %>
</div>
<% end %>

<%= render "users/shared/links" %>
