<div class="post-container">
    <h1 class="post-title"><%= @post.title %> [<%= link_to @post.category.name, @post.category %>]</h1>
    <div class="post-body-container">
        <%= markdown(@post.body) %>
    </div>
</div>
<div class="button-container">
<%= link_to '編集', edit_post_path(@post), class: "btn btn-primary" %>
<%= link_to '＋★', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %>
</div>
