<!DOCTYPE html>
<html>
<head>
<title>MrkNote</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="header inner">
    <h1><%= link_to 'mrk::note', root_path %></h1>
</div>
<div class="inner">
    <div class="content">
        <%= yield %>
    </div>
    <div class="sidebar">
        サイドバー
    </div>
</div>
<div class="footer inner">
    © Shoya Ishimaru 2014
</div>
</body>
</html>
