<h1>アカウント設定</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal width-medium", method: :put}) do |f| %>
<%= f.input :email %>
<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<%= f.input :current_password, label: "現在のパスワード" %>

<%= f.input :password, label: "新しいパスワード"%>

<%= f.input :password_confirmation, label: "新しいパスワード(確認)" %>

<div class="form-actions">
    <%= f.button :submit, "設定を更新する", class: "btn-primary" %>
</div>
<% end %>

<h1>アカウント削除</h1>

<%= link_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete, class: "btn btn-danger" %></p>
